/* List of contacts */

.person-list {
    background-color: #3d3b3b;
    width: fit-content;
    height: 75vh;
    border-radius: 25px;
    /* Make content scrollable when overflow */
    overflow-y: scroll;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}

/* Contact Card Styling */

.person {
    margin-top: 10px;
    color: white;
    font-size: large;
    border-radius: 25px;
    width: 240px;
    border: 2px solid #dd3939;
}

.person:hover {
    border: 2px solid #f1f1f1;
}

.person > img {
    width: 20%;
    height: 20%;
    float: left;
}


.person > img:hover {
    border: 2px solid #f1f1f1;
    margin-right: 3px;
    transform: scale(1.2);
}

.person > .person-info {
    display: flex;
    padding-left: 10px;
}

.person-name {
    margin-right: 3px;
}

.person > .chat-truncated {
    font-size: small;
}

/* Chat messages (truncated) */
.chat-truncated {
    float: right;
    margin-top: 5px;
    font-size: 30px;
}


/* Fav icons */
.fa-comments {
    font-size: 40px;
}

.fa-comments:hover {
    opacity: 0.8;
}

/* Dropdown */
.dropdown-menu {
    border-bottom: 4px solid black;
    background: rgba(0,0,0,0.5);
}

.dropdown-item {
    font-weight: 500;
    color: white;
}

.dropdown-item:hover {
    color: black;
}

/* Padding */

/* Toggle hide 
.no-show {
    display: none;
}
*/