<div class="container">
    <div class="row">
        <div class="col">
            <!--Contact box-->
            <div class="container-fluid person-list">
                <i class="fas fa-comments"></i>
                <!--contact list-->
                <div class="row" *ngFor="let chat of chats">
                    <div class="col">
                        <div class="person">
                            <img src="https://www.bootdey.com/img/Content/user_1.jpg" alt="Profile image"
                                class="rounded-circle">
                            <div class="person-info ml-5">
                                <p class="person-name">{{chat.fname}}</p>
                                <p class="person-name">{{chat.lname}}</p>
                                <!-- Contact options-->
                                <div class="btn-group" dropdown>
                                    <button id="button-basic" dropdownToggle type="button" class="btn "
                                        aria-controls="dropdown-basic">
                                        <i class="fas fa-bars text-light"></i><span class="caret"></span>
                                    </button>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                        aria-labelledby="button-basic">
                                        <li role="menuitem"><a class="dropdown-item" href="#">Chat</a></li>
                                        <li role="menuitem"><a class="dropdown-item" href="#">Block</a></li>
                                    </ul>
                                </div>
                            </div>
                            <p class="chat-truncated">
                                {{chat.msg.content}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>