<div class="container-fluid room bg-dark">
    <!--Room info-->
    <div class="room_info">
        <p class="text-center room-name">Room: {{roomName}}</p>
    </div>
    <!--Message list-->
    <div class="messages_list">
        <ul class="list-group" *ngFor="let msg of messages">
            <div class="container message_box" *ngIf="!msg.system">
                <div class="btn-group" dropdown *ngIf="msg.author!=myId">
                    <button id="button-basic" dropdownToggle type="button" class="btn" aria-controls="dropdown-basic">
                        <i class="fas fa-bars"></i>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="btn dropdown-item">Message</a></li>
                        <li role="menuitem"><a class="btn dropdown-item">Forward</a></li>
                    </ul>
                </div>
                <li class="text-right message bg-success" *ngIf="msg.author==myId">{{msg.body}}
                </li>
                <li class="text-left message bg-danger" *ngIf="msg.author!=myId">{{msg.body}}
                </li>
                <p class="ml-2 text-light">{{msg.time | date:'shortTime'}}</p>
            </div>


        </ul>
    </div>

    <div class="chat_box">
        <input type="text" class="chat_input mr-2" [formControl]="chatMessage" (keydown)="onEnterPress($event)">
        <!--Send-->
        <i class="btn fas fa-paper-plane rounded-circle text-danger" (click)="sendMessage()"></i>
        <!--image upload-->
        <i class="btn fas fa-images text-success rounded-circle"></i>
    </div>
</div>