<div class="container text-center">
    <i class="fas fa-comments display-1 text-success"></i>
    <p class="display-3 ">Can't Talk Busy</p>
    <div class="display-4">
        <p class="title">Login <i class="far fa-user text-danger"></i></p>
    </div>
    <input type="text" class="text-dark text-center" placeholder="Enter username">
    <p ngxErrors="username" class="text-muted">Username is <span class="text-danger">required</span></p>

    <input type="password" class="text-dark text-center" placeholder="Enter password">
    <p ngxErrors="password" class="text-muted"></p>
    <i class="fas fa-plug text-success"></i>

</div>