/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
}

app-root {
    height: 100%;
    width: 100%;
}

/* Button cursor */
.btn {
    cursor: pointer;
}

li { /* styles all li elements*/
    list-style-type: none;
}
